<div class="container-fluid">
  <h5>Information details:</h5>

  <form>
    <div class="form-group">
      <label>FullName</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="model.fullName"
             name="fullName">
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="model.username"
             name="totalAds">
    </div>

<!--    <div class="form-group">-->
<!--      <label>Password</label>-->
<!--      <input type="password"-->
<!--             placeholder="Enter Password"-->
<!--             name="psw"-->
<!--             id="psw"-->
<!--             class="form-control"-->
<!--             [(ngModel)]="model.password"-->
<!--             required>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label>Repeat Password</label>-->
<!--      <input type="password"-->
<!--             placeholder="Repeat Password"-->
<!--             name="psw-repeat"-->
<!--             id="psw-repeat"-->
<!--             class="form-control"-->
<!--             [(ngModel)]="model.rpassword"-->
<!--             required>-->
<!--    </div>-->
  </form>
</div>
