/* Full-width input fields */
.login-page input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-page button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.login-page button:hover {
  opacity: 0.8;
}

.login-page .signinbtn {
  float: left;
  width: 50%;
}

.login-page .signupbtn {
  float: left;
  width: 50%;
}

/* Center the image and position the close button */
.login-page .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.login-page img.avatar {
  width: 40%;
  border-radius: 50%;
}

.login-page .container {
  padding: 16px;
}

.login-page span.password {
  float: right;
  padding-top: 16px;
}

.login-page {
  width: 30%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin: 0 auto;
}

.login-page .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.login-page .signupbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
