[program:Queue_Worker]
command=php artisan queue:work
process_name=%(process_num)s
numprocs=1
directory=/app
autostart=true
autorestart=true
redirect_stderr=false

stdout_logfile=/var/log/supervisor/stdout_worker_%(program_name)s_%(process_num)s.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=10
stdout_events_enabled=false
stdout_capture_maxbytes=10MB

stderr_logfile=/var/log/supervisor/error_worker_%(program_name)s_%(process_num)s.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=10
stderr_capture_maxbytes=10MB
stderr_events_enabled=false
